@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Fira+Sans+Extra+Condensed:ital,wght@1,700&family=Philosopher:wght@700&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

main,
footer {
    background-color: #fff5da;
}

header{
    width: 100%;
    position: fixed;
    background-color: #d17878;
    z-index: 1000;   
}

/* 隱藏選單 */
.header-hidden{    
    transform: translateY(-100%);
    opacity: 0;
}

.wrapper-content {
    box-sizing: border-box;
    position: relative;
    max-width: 1024px;
    
    margin: 0 auto;
    /* 居中對齊 */
    padding: 0;

}

.header-content {
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header-nav li {
    display: flex;
    /* list-style: none; */
    padding: 1rem;
}

body {
    margin: 0;
    font-family: "Noto sans TC", sans-serif;
    letter-spacing: 1px;
    color: #333;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #000;
}

.logo {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 24px;
    color: #000;
    text-decoration: underline;
}

.menu {
    letter-spacing: 3px;
    text-decoration: none;
    color: #000;
}

.menu:hover {
    transition: all 0.2s;
    /* 轉場效果 */
    color: #ffb500;
}



.main-img {
    width: 60%;
}

/*body*/
.primary-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 80px 30px;
    height: 100vh;
}

.wrapper-primary-text {
    width: 40%;
}

.section-title {
    font-family: "Philosopher";
    font: bold;
    margin-bottom: 20px;
    color: #000;
    letter-spacing: 2px;
    line-height: 1.2;
}

.primary-title {
    font-size: 72px;
    margin-bottom: 20px;
}

.primary-title>span {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /*這段代碼創建了四個陰影，分別位於文字的四個角（上左、上右、下左、下右），每個陰影的顏色都是黑色，並且沒有模糊效果。這樣的效果會使文字顯得有一個清晰的框架，像是四周有一個強烈的輪廓陰影，常見於設計中用來增加文字的可讀性或強調。*/
}

.primary-text {
    margin-bottom: 25px
}

.link-button {
    display: inline-block;
    background-color: #000;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    /*上下 左右*/
    letter-spacing: 2px;
    text-decoration: none;
}

.link-button:hover {
    background-color: #ffb500;
    transition: 0.2s;
}

.link2-button {
    font-weight: bold;
    text-decoration: underline;

}

.link2-button:hover {
    color: #ffb500;
    transition: 0.2s;
}


.secondary-content {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-selected-works {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

/*第二段文字設定*/
.works-title {
    font-size: 36px;
    margin-bottom: 50px;
}

.work-text {
    margin-top: 10px;
    margin-bottom: 30px;
}

.detail-button {
    margin-bottom: 20px;
}

.about {
    margin-bottom: 60px;
}

.wrapper_content_about {
    width: 100%;
    display: flex;
    align-items: flex-start;
    /*垂直方向*/
    justify-content: center;
    /*水平方向*/
}

.img_about {
    margin-top: 40px;
}

.text_about {
    width: 60%;
}

.about_title {
    font-weight: bold;
    margin-top: 13px;
}

.about_list {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    padding-left: 20px;
}

.about_item {
    margin: 2px 60px 2px 0;
}

.detail-button {
    margin-top: 30px;
}


.contact_list {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.contact_img {
    width: 5%;
    margin-right: 5px;
}

.contact_pos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px
}

/*footer*/

footer {
    margin-top: 100px;
}

.footer-content {
    padding: 50px;

    display: flex;
    justify-content: space-between;

}


.footer-nav-list {
    width: 200px;
    color: #000;
    /*一併設定內元素的文字顏色*/
    display: flex;
    justify-content: space-between;
}

.footer-nav-list__text {
    margin-bottom: 15px;
}

.footer_left {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

/* rwd */
/* header */
@media (max-width:767px) {

    .header-content {
        transition: background-color 0.2s;
    }

    .hamburger {
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .cross-btn {
        width: 30px;
        height: 3px;
        background-color: #333;
        transition: all 0.2s;
    }

    .header-nav {
        display: none;
    }

    .primary-content {
        padding-bottom: 0;
      }
      
      .wrapper-primary-text {
        width: 50%;
        padding-bottom: 80px;
      }

    .pdf{
        text-align: center; 
    }

    .footer-content{
        width: 100%;
        flex-direction: column;
    }
    .footer_left{
        width: 100%;
        margin-top: 30px;
        flex-direction: column;
        text-align: center;
    }

    .footer-nav-list{
        width: 100%;
        margin-top: 30px;
        flex-direction: column;
        text-align: center; 
    }
}


/* active */
@media (max-width:767px) {
    .header-active {
        background-color: #333;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
    }

    .header-active .header-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
    }

    .header-active .header-nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-active .header-nav li {
        width: 100%;
        justify-content: center;
        padding: 0%
    }

    .header-active .header-nav a {
        color: white;
        font-size: 28px;
        padding: 30px;
        width: 100%;
        text-align: center;
    }

    .header-active .header-nav li:hover {
        background-color: #555;
    }

    .header-active .logo {
        color: white;
    }

    .header-active .hamburger {
        height: 30px;
        justify-content: center;
    }

    .header-active .cross-btn {
        background-color: white;
    }

    .header-active .btn-top {
        transform: rotate(45deg) translateY(2px);
    }

    .header-active .btn-bottom {
        transform: rotate(-45deg) translateY(-2px);
    }


}

